.cards {
    height: 800px;
    margin: 5vh;
}

.card {
    height: 40vh;
    width: 14.5vw;
    display: inline-block;
    margin: 1vh;
    text-align: center;
}

.card img {
    width: 12vw;
    height: 30vh;
}

.card h3 {
    text-align: center;
    margin: 1vh auto;
}