.App {
    background-color: #e8e8e8;
}

.components {
    border-bottom: 1px solid black;
    -webkit-box-shadow:5px 10px 18px #222831;
    -moz-box-shadow:5px 10px 18px #222831;
    box-shadow:5px 10px 18px #222831;
}